#web_bg {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*页脚字体颜色*/
#footer-wrap {
    position: relative;
    padding: 2rem 1rem;
    color: #BBFFFF;
    text-align: center;
}