@font-face {
    font-family: "iconfont"; /* Project id 1923441 */
    src: url('//at.alicdn.com/t/c/font_1923441_051iy0fxnfox.woff2?t=1703666904663') format('woff2'),
    url('//at.alicdn.com/t/c/font_1923441_051iy0fxnfox.woff?t=1703666904663') format('woff'),
    url('//at.alicdn.com/t/c/font_1923441_051iy0fxnfox.ttf?t=1703666904663') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 导航栏的图标 */
.icon-home:before {
    content: "\e60c";
    font-size: 22px;
    color: rgb(209, 125, 0);
}

.icon-archives:before {
    content: "\e63a";
    font-size: 22px;
    color: rgb(0, 14, 209);
}

.icon-about:before {
    content: "\e85c";
    font-size: 22px;
    color: red;
}

.icon-categories:before {
    content: "\e606";
    font-size: 22px;
    color: rgb(0, 209, 192);
}

.icon-link:before {
    content: "\e61a";
    font-size: 22px;
    color: rgba(0, 209, 199, 0.986);
}

.icon-comment:before {
    content: "\e642";
    font-size: 19px;
    color: rgba(185, 142, 225, 0.98);
}

#nav{
    font-size: 1.6em;
}

/* 社交账号的图标 */

.icon-weixin:before {
    content: "\e665";
    font-size: 18px;
    color: #09BB07;
}

.icon-bilibili-line:before {
    content: "\e605";
    font-size: 18px;
    color: #3DB7DF;
}

.icon-GitHub:before {
    content: "\e8c6";
    font-size: 22px;
}

.icon-QQ:before {
    content: "\e667";
    font-size: 20px;
    color: #3DB7DF;
}

.icon-Email:before {
    content: "\e651";
    font-size: 20px;
    color:rgb(127, 187, 255);
}